body{
    color: #111111;
    background-image: url("../images/mine-bg.jpg");
}
.pics{
    float: left;
    border: 2px solid #444444;
}

#targetScore{
    float: left;
}

#diamond{
    clear: both;
}

.box{
    background-color: #777777;
    color: #eeeeee;
}